# Jupyter tạo tự động
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Thư mục tạm của Anaconda/Jupyter
anaconda_projects/
**/anaconda_projects/
.jupyter/
.ipython/
.matplotlib/

# Python cache và môi trường ảo
__pycache__/
*.py[cod]
.venv/
venv/
env/

# File kiểm thử sinh tạm
*_test.ipynb
*_executed.ipynb

# File hệ điều hành/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

